<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{ realestate?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ realestate?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="realestate as realestate;">
    <img [src]="imageBaseUrl + '/w400' + realestate?.poster_path" />
    <ion-card-header>
      <ion-card-title> {{ realestate?.title }} </ion-card-title>
      <ion-card-subtitle> {{ realestate.tagline }} </ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of realestate.genres;  let isLast = last"> {{ g.name }} {{ !isLast ? '·' : '' }}</span>
      </ion-text>
    </ion-card-header>
  </ion-card>
</ion-content>
