.nextbtn  {
    background: var(--colorGreen) !important; font-family: var(--fontHelveticaNeue) !important;
    font-size: 16px;  font-weight: 600; display: inline-block; border-radius: 6px; padding-bottom: 4px;
    padding-top: 0 !important;
   }

   .cancelbtm  {
     font-family: var(--fontHelveticaNeue) !important; color: #999;
    font-size: 16px;  font-weight: 600; display: inline-block;
   }

   .feescolor  {
    font-family: var(--fontHelveticaNeue) !important; font-size: 16px;
    color: var(--colorGreen) !important;
   }

   .egpimg  {
    position: relative; top:3px;
   }

   .paytypes  {
    width: 100%; margin-top: 25px;
   }

 