<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>تسجيل دخول - عقاراتي</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign In to Continue</ion-card-title>
      <!-- <ion-card-subtitle>
              قم بادارة عقاراتك من خلالنا
      </ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" formControlName="username"  placeholder="enter your username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="password" formControlName="password"   placeholder="enter your password"></ion-input>
        </ion-item>
      </form>
      
      <br>

      <ion-button expand="block" [disabled]="!form.valid" (click)="OnSubmit()">
        login
      </ion-button>
      <br>

      <ion-button color="success" expand="block" [disabled]="!form.valid" (click)="OnGoMovie()">
        Go Movie
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
