.addparty  {
    background:none !important; color: var(--colorGreen); padding: 0 !important; 
    text-align: right; margin-top: 25px;
    font-family: var(--fontHelveticaNeue) !important; font-weight: 600 !important;
}

.addparty sup  {
    color: #D71A21;
}

.iconadd  {
    font-size: 25px; position: relative; top:2px
}

.labeladd  {
    padding-right: 8px; font-size: 16px;
}

.emptyparty  {
    position: relative; padding: 24px 0 0; text-align: center; margin: 25px 0 0;
    display: inline-block; width:100%;
}

.nopersons  {
    position: absolute; top:0; font-size: 32px; color: #B6BDC6; left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.noteempty  {
    font-size: 18px; color: #B6BDC6; font-family: var(--fontHelveticaNeue) !important;
}

.labellog  {
    font-size: 20px; font-family: var(--fontHelveticaNeue) !important; display: block; font-weight: 500; 
    position: relative; top:-14px;
 }

 .inputlog  {
  display: block; border: 1px #A6B5C8 solid !important; border-radius: 6px !important; 
  background-color: #fff !important; font-family: var(--fontHelveticaNeue) !important;
  padding-right: 12px !important; line-height: 12px !important;
 }
 .native-input.sc-ion-input-md  {
    padding-left: 12px !important; padding-right: 15px !important;
 }

 .label-stacked.sc-ion-label-md-h  {
    transform-origin:top right !important; 
   }
   .label-stacked.sc-ion-label-md-h sup {
    color: #D71A21 !important; font-size: 27px !important; font-weight: 600; position: relative; top:4px
   }

   #background-content  {
    --background: #fff !important;
   }

 .titlepoup  {
    text-align: right; font-family: var(--fontHelveticaNeue) !important; 
    font-weight: 700;
 }

 .validationlog  {
    display: inline-block; width: 100%; color: #D71A21; font-size: 15px; display: block;
    font-family: var(--fontHelveticaNeue) !important; text-align: left;
   }

   .formcontent  {
    display: inline-block; width: 100%;
   }

   .btnsave  {
    float:left; font-family: var(--fontHelveticaNeue) !important;
     background: var(--colorGreen); margin: 15px; border-radius: 6px; font-size: 18px; 
     font-weight: 600; 
   }

   .nextbtn  {
    background: var(--colorGreen) !important; font-family: var(--fontHelveticaNeue) !important;
    font-size: 16px;  font-weight: 600; display: inline-block; border-radius: 6px; padding-bottom: 4px;
    padding-top: 0 !important;
   }

   .cancelbtm  {
     font-family: var(--fontHelveticaNeue) !important; color: #999;
    font-size: 16px;  font-weight: 600; display: inline-block;
   }

   .btnsave button  {
margin-top: -3px !important;
    }

   .autoheight  {
    --height:auto !important; height:unset !important
   }

   .btnstep  {
     background: #ECF7F5 !important; border: 1px var(--colorGreen) dotted;
     --box-shadow:none;
     box-shadow: none;
     -webkit-box-shadow:none; 
    span  {
        position: absolute; top:0; right:0; color: #1C304C; 
        font-family: var(--fontHelveticaNeue) !important; 
        font-weight: 500; font-size: 14px;
    }
   }

   .labelsteps  {
    padding-top: 25px; text-align: right; padding-bottom: 7px; color: var(--colorGreen);
    font-family: var(--fontHelveticaNeue) !important; width:100%;
        font-weight: 700; font-size: 15px; min-height: 47px;
   }

   .btnstep .button-native  {
    box-shadow: none;
    -webkit-box-shadow:none;
   }

   .btnstep.cpmpeleted  {
    background: var(--colorGreen) !important; border: 1px var(--colorGreen) solid;
    --box-shadow:none; color: #fff !important;
    box-shadow: none;
    -webkit-box-shadow:none; 
   span  {
       position: absolute; top:14px; right:30px; color: #fff; 
       font-family: var(--fontHelveticaNeue) !important; 
       font-weight: 600; font-size: 15px;
   }
  }

  .btnstep.cpmpeleted span::before  {
    position: absolute; top:2px; right:-26px; content:'✓'; color: var(--colorGreen);
    background: #fff; width: 18px; height: 18px; line-height: 16px; text-align: center;
    font-size: 11px; border-radius: 50%;
}

  .cpmpeleted .labelsteps  {
    font-size: 0;
   }


   .itempart  {
    position: relative; padding: 0; 
   }


   .itempart .item-native  {
    background: #fff !important;
   }


   .partname  {
    margin: 0 0 25px;
  color: #1C304C;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--fontHelveticaNeue) !important;
  width: calc(100% - 90px);
  padding: 0 20px 0 0;
   }

   .subtitlritem   {
    position: absolute; right:40px; bottom:0; color: #A6B5C8; font-size: 13px;
    font-family: var(--fontHelveticaNeue) !important;
   }

   .no-validation-line .item-inner {
    box-shadow: none !important;
  }

  .item-inner {
    box-shadow: none !important;
  }

  .no-highlight-focus {
    --highlight-color-focused: transparent;
  }

  .unitgold  {
    position: absolute;
    top: 46px;
    height: 46px; text-align: center;
    width: 46px;
    background: #F5F5F5; border-left: 2px #BA9742 solid;
    left: 1px;
    color: #BA9742;
    font-family: var(--fontHelveticaNeue) !important;
    font-weight: 600;
    z-index: 2;
  }



