.addparty  {
    background:none !important; color: var(--colorGreen); padding: 0 !important; 
    text-align: right; margin-top: 25px;
    font-family: var(--fontHelveticaNeue) !important; font-weight: 600 !important;
}

.addparty sup  {
    color: #D71A21;
}

.iconadd  {
    font-size: 25px; position: relative; top:2px
}

.labeladd  {
    padding-right: 8px; font-size: 16px;
}

.emptyparty  {
    position: relative; padding: 24px 0 0; text-align: center; margin: 25px 0 0;
    display: inline-block; width:100%;
}

.nopersons  {
    position: absolute; top:0; font-size: 32px; color: #B6BDC6; left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.noteempty  {
    font-size: 18px; color: #B6BDC6; font-family: var(--fontHelveticaNeue) !important;
}

.labellog  {
    font-size: 20px; font-family: var(--fontHelveticaNeue) !important; display: block; font-weight: 500; 
    position: relative; top:-14px;
 }

 .inputlog  {
  display: block; border: 1px #A6B5C8 solid !important; border-radius: 6px !important; 
  background-color: #fff !important; 
 }
 .native-input.sc-ion-input-md  {
    padding-left: 12px !important; padding-right: 15px !important;
 }

 .label-stacked.sc-ion-label-md-h  {
    transform-origin:top right !important; 
   }
   .label-stacked.sc-ion-label-md-h sup {
    color: #D71A21 !important; font-size: 27px !important; font-weight: 600; position: relative; top:4px
   }

   #background-content  {
    --background: #fff !important;
   }

 .titlepoup  {
    text-align: right; font-family: var(--fontHelveticaNeue) !important; 
    font-weight: 700;
 }

 .validationlog  {
    display: inline-block; width: 100%; color: #D71A21; font-size: 15px; display: block;
    font-family: var(--fontHelveticaNeue) !important; text-align: left;
   }

   .formcontent  {
    display: inline-block; width: 100%;
   }

   .autoheight  {
    --height:auto !important; height:unset !important
   }

   .btnstep  {
     background: #ECF7F5 !important; border: 1px var(--colorGreen) dotted;
     --box-shadow:none;
     box-shadow: none;
     -webkit-box-shadow:none; 
    span  {
        position: absolute; top:0; right:0; color: #1C304C; 
        font-family: var(--fontHelveticaNeue) !important; 
        font-weight: 500; font-size: 14px;
    }
   }

   .labelsteps  {
    padding-top: 25px; text-align: right; padding-bottom: 7px; color: var(--colorGreen);
    font-family: var(--fontHelveticaNeue) !important; width:100%;
        font-weight: 700; font-size: 15px;
   }

   .btnstep .button-native  {
    box-shadow: none;
    -webkit-box-shadow:none;
   }


 ion-modal#example-modal {
    --height:auto; --max-width:90%; --background:rgba(0,0,0,0.24);
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  
  ion-modal ion-toolbar {
    --background: #fff;
    --color: #000;
    border:none;
    padding-top: 0 !important;
  }

