<ion-tabs class="rtldir">

<ion-tab-bar slot="bottom" class="white-bg pt-3">
   <ion-tab-button class="white-bg" tab="eservices">
       <ion-icon name="grid-outline"></ion-icon>
       <ion-label class="Graphik-medum">عقاراتي</ion-label>
   </ion-tab-button>

  <ion-tab-button class="white-bg" tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="Graphik-medum">الاشعارات</ion-label>
  </ion-tab-button>

  <ion-tab-button class="white-bg" tab="myorders">
    <ion-icon name="albums-outline"></ion-icon>
    <ion-label class="Graphik-medum">طلباتي</ion-label>
  </ion-tab-button>

  <ion-tab-button class="white-bg" tab="myaccount">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="Graphik-medum">حسابي</ion-label>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>