<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">

    <ion-buttons class="backright" routerLink="../addfavoriteunit" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
   </ion-buttons>

    <ion-title class="h1 text-white ion-text-center">إضافة عقار مهتم به</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="titlerealestatetype mb-4">
    مراجعة البيانات
  </h2>


  <div class="methodholder">

    
  </div>
</ion-content>
