<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">

    <ion-buttons class="backright" routerLink="../addfavoriteunit" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
   </ion-buttons>

    <ion-title class="h1 text-white ion-text-center">إضافة عقار مهتم به</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="titlerealestatetype mb-4">
    مراجعة البيانات
  </h2>


  <div class="methodholder">
     
    <h4 class="titlrblue px-3">
        الرقم القومي العقاري
    </h4>

    <h3 class="numrealestatid px-3">
      ٣٣١٢٢٣٢٠٧٠٤٢٠٥٦٠٠٠١١
    </h3>

    <img class="map" alt="" src="../../../assets/img/map.jpg" />


    <ion-grid class="px-2">
      <ion-row>
        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">المحافظة</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">القاهرة</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>
       
        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">المدينة</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">الوايلي</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>
     
        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">الحي/المركز</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">الحي الثالث</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">الشارع / الحارة / البلوك</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">٥ شارع محمد ثروت</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">رقم الوحدة</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">١٠١</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">رقم الدور</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">١</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">المساحة</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">١٢٠ متر مربع</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">عدد أدوار المبني</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">٦</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">الوصف</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">يكتب هنا وصف للعقار</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12"> 
          <ion-card class="white-bg noshadow m-0">
            <ion-card-header class="labeladdress ion-no-padding mb-2">
                <h6 class="m-0">رقم المبني</h6>
            </ion-card-header>
            <ion-card-content class="pb-0 ion-no-padding">
              
              <ion-label class="servcetaxt">٢ب، ٢٤ أ</ion-label>
        
            </ion-card-content>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>
    
  </div>


  <ion-button class="nextbtn text-white" fill="clear" fixed bottom routerLink="../eservices">
    إضافة
  </ion-button>

</ion-content>
