<ion-header [translucent]="true">
  <ion-toolbar >
    
    <ion-title class="darkgreen">
      
      <ion-icon class="sizenoti" name="notifications-outline"></ion-icon>
      <ion-label class="labelhead">عقاراتي</ion-label> 
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-list lines="full" class="ion-padding">
    <ion-item detail *ngFor="let item of realestates" [routerLink]="[item.id]">

      <ion-thumbnail slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-thumbnail>

      <ion-label>
        {{item.title}}
        <p>{{item.release_date | date:'y'}}</p>
      </ion-label>

      <ion-badge color="warning" slot="end">{{item.vote_average}}</ion-badge>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>

