
.darkgreen  {
 background-color: #007664; position: relative;
 color: #fff; height: 56px; text-align: center;
}

.sizenoti  {
    font-size: 1.8rem; position: absolute; left:20px
}

.labelhead  { 
    display: inline-block; font-family: 'Helvetica bold' !important;
    --ion-font-family: 'Helvetica bold', sans-serif;
}



