<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">

    <ion-buttons class="backright" routerLink="../eservices" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
   </ion-buttons>

    <ion-title class="h1 text-white ion-text-center">إضافة عقار مهتم به</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="titlerealestatetype mb-4">
    اختر نوع العقار لاستكمال طلبك
  </h2>

  <ion-grid class="white-bg">
    <ion-row>
      <ion-col class="ion-text-center" size="4" routerLink="../addfavoriteunit"> 
        <ion-card class="white-bg noshadow">
          <ion-card-header class="cardunits">
            <ion-label class="labelunittype">وحدة</ion-label>
          </ion-card-header>
          <ion-card-content class="pb-0 px-2">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="ion-text-center" size="4" routerLink="../addfavoriteunit"> 
        <ion-card class="white-bg noshadow">
          <ion-card-header class="cardunits">
            <ion-label class="labelunittype">فيلا</ion-label>
          </ion-card-header>
          <ion-card-content class="pb-0 px-2">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="ion-text-center" size="4" routerLink="../addfavoriteunit"> 
        <ion-card class="white-bg noshadow">
          <ion-card-header class="cardunits">
            <ion-label class="labelunittype">عمارة / مبني</ion-label>
          </ion-card-header>
          <ion-card-content class="pb-0 px-2">
          </ion-card-content>
        </ion-card>
      </ion-col>
     
      <ion-col class="ion-text-center" size="4" routerLink="../addfavoriteunit"> 
        <ion-card class="white-bg noshadow">
          <ion-card-header class="cardunits">
            <ion-label class="labelunittype">أرض فضاء</ion-label>
          </ion-card-header>
          <ion-card-content class="pb-0 px-2">            
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="ion-text-center" size="4" routerLink="../addfavoriteunit"> 
        <ion-card class="white-bg noshadow">
          <ion-card-header class="cardunits">
            <ion-label class="labelunittype">أرض مبنية</ion-label>
          </ion-card-header>
          <ion-card-content class="pb-0 px-2">            
          </ion-card-content>
        </ion-card>
      </ion-col> 

    </ion-row>
  </ion-grid>

  
</ion-content>
