<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">

    <ion-title class="h1 text-white ion-text-center">بيع رضائي</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="successCard">

    <ion-item fill="clear" color="transparent" lines="none">
      <ion-icon class="iconsuccess" name="checkmark-circle-outline"></ion-icon>
      <ion-label class="titlesuccessful">تم بنجاج</ion-label>
    </ion-item>

      <ion-item fill="clear" color="transparent" lines="none">
        <ion-label class="itemreport m-0">تاريخ العملية</ion-label>
        <span class="itemvalue">٢٠٢٤/١٢/٠٢</span>
      </ion-item>

      <ion-item fill="clear" color="transparent" lines="none">
        <ion-label class="itemreport m-0">رقم الفاتورة</ion-label>
        <span class="itemvalue">٢١٣٠٤١ </span>
      </ion-item>

      <ion-item fill="clear" color="transparent" lines="none">
        <ion-label class="itemreport m-0">رقم العملية</ion-label>
        <span class="itemvalue">٢٤٣٤٥ </span>
      </ion-item>

      <ion-item fill="clear" color="transparent" lines="none">
        <ion-label class="itemreport m-0">تكلفة الخدمة</ion-label>
        <span class="itemvalue">٢٥٠.٥٠ جم</span>
      </ion-item>
 


  </div>

 
  
</ion-content>
