<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="h1 text-white">عقاراتي</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment class="tabrealestat" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
         <ion-segment-button value="registedUnits">
            <ion-label class="heightset m-0">عقار مسجل</ion-label>
         </ion-segment-button>

         <ion-segment-button value="intertedUnites">
          <ion-label class="heightset m-0">عقار مهتم به</ion-label>
       </ion-segment-button>

      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  
  <div class="unitItems">


    <div class="registedUnits" *ngIf="selectedSegment == 'registedUnits'">

      
      <ion-list class="listrealestat" lines="none" detail *ngIf="registredResult.data">
      
        <ion-item color="none" class="rowrealestat" *ngFor="let prop of registredResult.data; let i = index">
          <h5 size="large" slot="start">{{prop.PropertyType}}</h5>
          <ion-label>
          <div *ngFor="let adres of prop.LandsInfo">
            <h2>{{adres.Number+ ',' +adres.DistrictName+ ',' +adres.PoliceOffice+ ',' +adres.Governorate}}</h2>
            <p>محافظة {{adres.Governorate}}</p>
          </div>
          </ion-label>
            <ion-icon slot="end" routerLink="../eservicelv1" name="chevron-back-outline"></ion-icon>              
          </ion-item>                    
        </ion-list>
    </div>
     
    <div class="intertedUnites" *ngIf="selectedSegment == 'intertedUnites'">
      <ion-list class="listrealestat" lines="none" detail *ngIf="favoriteResult.data">
      
        <ion-item color="none" class="rowrealestat" *ngFor="let prop of favoriteResult.data; let i = index">
          <h5 size="large" slot="start">{{prop.PropertyTypeName}}</h5>
          <ion-label class="m-0">
          <div *ngFor="let adres of prop.LandsInfo">
            <h2>{{adres.Number+ ',' +adres.DistrictName+ ',' +adres.PoliceOffice+ ',' +adres.Governorate}}</h2>
            <p>محافظة {{adres.Governorate}}</p>
          </div>
          
          </ion-label>

          <ion-icon slot="end" name="chevron-back-outline"></ion-icon>

          </ion-item>

          <!-- <ion-item color="none" class="rowrealestat">
            <h5 size="large" slot="start">وحدة</h5>
            <ion-label>
            <h2>٧ شارع سبيل الخزندار الظاهر - القاهرة</h2>
            <p>عقار سكني</p>
            </ion-label>
  
            <ion-icon slot="end" name="chevron-back-outline"></ion-icon>
  
            </ion-item>

            <ion-item color="none" class="rowrealestat">
              <h5 size="large" slot="start">وحدة</h5>
              <ion-label>
              <h2>٥ شارع أحمد عزت القاهرة - القاهرة</h2>
              <p>عقار سكني</p>
              </ion-label>
    
              <ion-icon slot="end" name="chevron-back-outline"></ion-icon>
    
              </ion-item> -->

           


                    
        </ion-list>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="btnaddunit" routerLink="../realestatetypes">
    <ion-icon class="sizesvg" name="add"></ion-icon>
    </ion-fab-button>
    </ion-fab>

</ion-content>
